.contentTeste {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

mat-card {
  
  width: 1000px;
}

/* mat-card-content {
  width: 100%;
} */