<p>
  {{ nome }}
</p>

<p>
  O valor da soma entre {{n1}} e {{n2}} é: {{r}}
</p>

<ul>
  <li *ngFor="let aula of vet"> 
    <!-- Uma função for que vai percorrer o array do componente 
    aula é o indixe da vez em meu vetor -->
    {{ aula }}
  </li>
</ul>

<p>Essa é a tabela que vem do Angular Material</p><br>

<mat-card>
  <mat-card-content>

    <mat-tab-group>
      <mat-tab label="All"> 

        <table mat-table [dataSource]="data" class="mat-elevation-z8">

          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
          </ng-container>
        
          <!-- Category Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{ element.category }} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumnsAll"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsAll;"></tr>
        </table>

      </mat-tab>
      <mat-tab label="Id"> 

        <table mat-table [dataSource]="data" class="mat-elevation-z8">

          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsId"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsId;"></tr>
        </table>
      
      </mat-tab>
      <mat-tab label="Name"> 

        <table mat-table [dataSource]="data" class="mat-elevation-z8">
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumnsName"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsName;"></tr>
        </table>
        
      </mat-tab>
      <mat-tab label="Category"> 
        
        <table mat-table [dataSource]="data" class="mat-elevation-z8">
          <!-- Category Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{ element.category }} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumnsCategory"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsCategory;"></tr>
        </table>
      
      </mat-tab>
    </mat-tab-group>
    
  </mat-card-content>
</mat-card>
